.content {
    height: 100%;
    min-width: 100%;
}

.headers {
    display: flex;
    justify-content: space-around;
}

@keyframes headerFadeIn {
    0% { opacity: 0%; scale: 0; }
    50% { opacity: 10%; scale: 0.5; }
    100% { opacity: 25%; scale: 1; }
}

@for $i from 1 through 3 {
    .headers :nth-child(#{$i}) {
        animation-delay: #{($i - 1) * 0.075}s; 
    }
}

.header {
    opacity: 0%;
    animation: headerFadeIn 0.25s linear;
    animation-fill-mode: forwards;
}

.header:hover {
    cursor: pointer;
    opacity: 100%;
}

.body {
    position: absolute;
    margin-right: 5%;
    text-align: center;
}

@keyframes bodyFadeIn {
    0% { opacity: 0%; }
    50% { opacity: 250%;}
    100% { opacity: 100%; }
}

.body {
    opacity: 0%;
    animation: bodyFadeIn 2s linear;
    animation-fill-mode: forwards;
}