/* downloaded Inter font */
@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter/Inter.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


html {
    height: 100%;
    background-color: #0E131F;
    font-family: "Inter";
    color: white;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
}

.dark {
    background-color: #0E131F;
    color: white;
}

.light {
    background-color: white;
    color: #0E131F;
}


.accent-color-blue {
    color: #2191FB;
}

.accent-color-red {
    color: #E71D36;
}

a {
    color: #2191FB;
    text-decoration: none;
}