.content {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    width: 100%;
    margin-top: 1.5%;
}

.header img {
    width: 36px;
    height: 36px;
    padding: 3px;
    margin-right: 1.5%;
    transition-duration: 0.75s;
    filter: saturate(0);
}

.header img:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.body {
    display: flex;
    flex: 8;
    width: 100%;
}

.body .left {
    min-height: 100%;
    width: 35%;
    margin-left: 5%;
}

.intro #name {
    font-size: 500%;
    font-weight: lighter;
    margin-bottom: 0%;
}

.intro #greeting{
    font-size: 150%;
    font-weight: lighter;
}

.intro #titles {
    font-size: 175%;
    font-weight: lighter;
    margin-top: 0%;
}

.body .right {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-right: 5%;
}

.footer {
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 25%;
}

